<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Editar Livro</title>
    <div th:replace="fragments/head :: header"></div>
    <link rel="stylesheet" th:href="@{/css/formbook.css}" />
  </head>

  <body>
    <div th:replace="fragments/header :: header"></div>

    <main class="form-signin w-100 m-auto d-flex justify-content-center align-items-center">
      <div class="container">
        <div class="row">
          <form onsubmit="atualizar(event)">
            <h3 class="h3 mb-3 fw-normal text-center lead">Editar Livros</h3>

            <input type="hidden" id="id" name="id" th:value="${bookId}">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="titulo" placeholder="Título" name="titulo" required />
              <label for="">Titulo</label>
            </div>

            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="nome" placeholder="Nome" name="nome" required />
              <label for="">Nome do Autor/Autora</label>
            </div>

            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="genero" placeholder="genero" name="genero" required />
              <label for="">Gênero</label>
            </div>

            <div class="row">
              <div class="col-sm-6 mb-1">
                <button id="btnCadastrar" class="btn btn-primary w-100 py-2" type="submit">Salvar</button>
              </div>

              <div class="col-sm-6 mb-1">
                <button type="button" class="btn btn-danger w-100 py-2" onclick="voltarHome()">Cancelar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </main>

    <script th:src="@{/js/book/update.js}"></script>
  </body>
</html>
