<header>
  <nav class="navbar bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand " th:href="@{/book}">
        <span class="brand-text">MyBookshelf</span>
        <img th:src="@{/icons/book-shelf-svgrepo-com.svg}" alt="logo" width="30" height="24">
      </a>
    </div>
    <div width="30%" height="30%" class="bg-info rounded-circle">
      <form th:action="@{/logout}" method="POST">
        <button type="submit" class="btn btn-light">
          <span id="userName" name="userName">CA</span>
        </button>
      </form>
    </div>
  </nav>

  <script th:src="@{/js/auth/me.js}"></script>
</header>